<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security.xsd">

    <sec:http pattern="/webresources/**" security="none"></sec:http>

    <!--<sec:http auto-config="true" use-expressions="true">-->
        <!--<sec:intercept-url pattern="/**" access="hasAnyRole('ROLE_USER')"/>-->
    <!--</sec:http>-->

    <sec:http auto-config='true' use-expressions="true">
        <sec:form-login login-page="/login"
                        authentication-failure-url="/login?error=true"
                        default-target-url="/"
                />
        <sec:logout invalidate-session="true" logout-success-url="/login" logout-url="/j_spring_security_logout" />
        <sec:intercept-url pattern="/login" access="permitAll"/>
        <sec:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
        <!--如果 token-validity-seconds 属性被设置成-1，登录 cookie-->
        <!--将被设置为会话 cookie-->
        <sec:remember-me key="cxy1geda2b" token-validity-seconds="3600"/>
        <sec:http-basic />
        <sec:logout />
    </sec:http>

    <!--自定义用户登录相关信息bean-->
    <!--<bean id="jdbcUserService" class="com.cxy.apptools.web.storemanager.service.imp.security.CxyUserServiceImpl">-->
        <!--<property name="dataSource" ref="dataSource"></property>-->
        <!--<property name="enableGroups" value="true"></property>-->
        <!--&lt;!&ndash;<property name="enableAuthorities" value="false"></property> &lt;!&ndash;用户授权和用户组授权尽量分开来控制，保证只有一个&ndash;&gt;&ndash;&gt;-->
    <!--</bean>-->

    <!--&lt;!&ndash;已bean的形式配置,由于security已经帮我们封装好了,若需自定义时才这样使用&ndash;&gt; 配合sec:password-encoder ref="passwordEncoder"-->
    <!--<bean class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" id="passwordEncoder"/>-->

    <sec:authentication-manager>

        <!--<sec:authentication-provider user-service-ref="jdbcUserService">-->
        <sec:authentication-provider>
            <sec:user-service> <!--in-memory authentication-->
                <sec:user name="admin" password="admin" authorities="ROLE_USER"></sec:user>
                <sec:user name="admin1" password="admin1" authorities="ROLE_USER"></sec:user>
            </sec:user-service>

            <!--<sec:password-encoder hash="md5">-->
                <!--<sec:salt-source user-property="salt"></sec:salt-source>-->
            <!--</sec:password-encoder>-->
        </sec:authentication-provider>
    </sec:authentication-manager>
</beans>