<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxybranchMapper" >
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxybranch" >
    <id column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="branchname" property="branchname" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="DataChange_LastTime" property="datachangeLasttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    branchid, branchname, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cxybranch
    where branchid = #{branchid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cxybranch
    where branchid = #{branchid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxybranch" >
    insert into cxybranch (branchid, branchname, create_time, 
      DataChange_LastTime)
    values (#{branchid,jdbcType=INTEGER}, #{branchname,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxybranch" >
    insert into cxybranch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="branchname != null" >
        branchname,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="datachangeLasttime != null" >
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="branchname != null" >
        #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null" >
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxybranch" >
    update cxybranch
    <set >
      <if test="branchname != null" >
        branchname = #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null" >
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where branchid = #{branchid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxybranch" >
    update cxybranch
    set branchname = #{branchname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where branchid = #{branchid,jdbcType=INTEGER}
  </update>
</mapper>