<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxyclientcategoryMapper">
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxyclientcategory">
    <id column="clientcategoryid" jdbcType="INTEGER" property="clientcategoryid" />
    <result column="clientcategoryname" jdbcType="VARCHAR" property="clientcategoryname" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="pcategoryid" jdbcType="INTEGER" property="pcategoryid" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    clientcategoryid, clientcategoryname, seq, pcategoryid, deleted, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxyclientcategory
    where clientcategoryid = #{clientcategoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cxyclientcategory
    where clientcategoryid = #{clientcategoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxyclientcategory">
    insert into cxyclientcategory (clientcategoryid, clientcategoryname, 
      seq, pcategoryid, deleted, 
      create_time, DataChange_LastTime)
    values (#{clientcategoryid,jdbcType=INTEGER}, #{clientcategoryname,jdbcType=VARCHAR}, 
      #{seq,jdbcType=INTEGER}, #{pcategoryid,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyclientcategory">
    insert into cxyclientcategory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientcategoryid != null">
        clientcategoryid,
      </if>
      <if test="clientcategoryname != null">
        clientcategoryname,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="pcategoryid != null">
        pcategoryid,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientcategoryid != null">
        #{clientcategoryid,jdbcType=INTEGER},
      </if>
      <if test="clientcategoryname != null">
        #{clientcategoryname,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="pcategoryid != null">
        #{pcategoryid,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyclientcategory">
    update cxyclientcategory
    <set>
      <if test="clientcategoryname != null">
        clientcategoryname = #{clientcategoryname,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="pcategoryid != null">
        pcategoryid = #{pcategoryid,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where clientcategoryid = #{clientcategoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxyclientcategory">
    update cxyclientcategory
    set clientcategoryname = #{clientcategoryname,jdbcType=VARCHAR},
    seq = #{seq,jdbcType=INTEGER},
    pcategoryid = #{pcategoryid,jdbcType=INTEGER},
    deleted = #{deleted,jdbcType=INTEGER},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where clientcategoryid = #{clientcategoryid,jdbcType=INTEGER}
  </update>
  <select id="selectAllValues" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM cxyclientcategory
  </select>
</mapper>