<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxyclientMapper" >
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxyclient" >
    <id column="clientid" property="clientid" jdbcType="INTEGER" />
    <result column="clientname" property="clientname" jdbcType="VARCHAR" />
    <result column="contactname" property="contactname" jdbcType="VARCHAR" />
    <result column="contactphone" property="contactphone" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="clientcategoryid" property="clientcategoryid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="DataChange_LastTime" property="datachangeLasttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    clientid, clientname, contactname, contactphone, fax, qq, address, comment, email, 
    post, status, clientcategoryid, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cxyclient
    where clientid = #{clientid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cxyclient
    where clientid = #{clientid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxyclient" >
    insert into cxyclient (clientid, clientname, contactname, 
      contactphone, fax, qq, 
      address, comment, email, 
      post, status, clientcategoryid, 
      create_time, DataChange_LastTime)
    values (#{clientid,jdbcType=INTEGER}, #{clientname,jdbcType=VARCHAR}, #{contactname,jdbcType=VARCHAR}, 
      #{contactphone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{clientcategoryid,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyclient" >
    insert into cxyclient
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientid != null" >
        clientid,
      </if>
      <if test="clientname != null" >
        clientname,
      </if>
      <if test="contactname != null" >
        contactname,
      </if>
      <if test="contactphone != null" >
        contactphone,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="clientcategoryid != null" >
        clientcategoryid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="datachangeLasttime != null" >
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientid != null" >
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="clientname != null" >
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null" >
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null" >
        #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="clientcategoryid != null" >
        #{clientcategoryid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null" >
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyclient" >
    update cxyclient
    <set >
      <if test="clientname != null" >
        clientname = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null" >
        contactname = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null" >
        contactphone = #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="clientcategoryid != null" >
        clientcategoryid = #{clientcategoryid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null" >
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where clientid = #{clientid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxyclient" >
    update cxyclient
    set clientname = #{clientname,jdbcType=VARCHAR},
      contactname = #{contactname,jdbcType=VARCHAR},
      contactphone = #{contactphone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      clientcategoryid = #{clientcategoryid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where clientid = #{clientid,jdbcType=INTEGER}
  </update>
  <select id="selectAllValues" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM cxyclient
  </select>
</mapper>