<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxyproductrspecattrMapper">
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    <id column="productid" jdbcType="INTEGER" property="productid" />
    <id column="specattrid" jdbcType="INTEGER" property="specattrid" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    productid, specattrid, deleted, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxyproductrspecattr
    where productid = #{productid,jdbcType=INTEGER}
      and specattrid = #{specattrid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from cxyproductrspecattr
    where productid = #{productid,jdbcType=INTEGER}
      and specattrid = #{specattrid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    insert into cxyproductrspecattr (productid, specattrid, deleted, 
      DataChange_LastTime)
    values (#{productid,jdbcType=INTEGER}, #{specattrid,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    insert into cxyproductrspecattr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        productid,
      </if>
      <if test="specattrid != null">
        specattrid,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="specattrid != null">
        #{specattrid,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    update cxyproductrspecattr
    <set>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where productid = #{productid,jdbcType=INTEGER}
      and specattrid = #{specattrid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    update cxyproductrspecattr
    set deleted = #{deleted,jdbcType=INTEGER},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where productid = #{productid,jdbcType=INTEGER}
      and specattrid = #{specattrid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    <id column="productid" jdbcType="INTEGER" property="productid" />
    <id column="specattrid" jdbcType="INTEGER" property="specattrid" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    productid, specattrid, deleted, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxyproductrspecattr
    where productid = #{productid,jdbcType=INTEGER}
      and specattrid = #{specattrid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from cxyproductrspecattr
    where productid = #{productid,jdbcType=INTEGER}
      and specattrid = #{specattrid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    insert into cxyproductrspecattr (productid, specattrid, deleted, 
      DataChange_LastTime)
    values (#{productid,jdbcType=INTEGER}, #{specattrid,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    insert into cxyproductrspecattr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        productid,
      </if>
      <if test="specattrid != null">
        specattrid,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="specattrid != null">
        #{specattrid,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    update cxyproductrspecattr
    <set>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where productid = #{productid,jdbcType=INTEGER}
      and specattrid = #{specattrid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxyproductrspecattr">
    update cxyproductrspecattr
    set deleted = #{deleted,jdbcType=INTEGER},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where productid = #{productid,jdbcType=INTEGER}
      and specattrid = #{specattrid,jdbcType=INTEGER}
  </update>
</mapper>