<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxysellMapper">
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxysell">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sellid" jdbcType="VARCHAR" property="sellid" />
    <result column="shopid" jdbcType="INTEGER" property="shopid" />
    <result column="clientid" jdbcType="INTEGER" property="clientid" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="perprice" jdbcType="DOUBLE" property="perprice" />
    <result column="currency" jdbcType="INTEGER" property="currency" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="repsor" jdbcType="VARCHAR" property="repsor" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="DataChange_LastTime" jdbcType="VARCHAR" property="datachangeLasttime" />
  </resultMap>
  <resultMap id="orderSum" type="com.cxy.apptools.domain.storemanager.CxyOrderSum" >
    <result property="Sum" column="NUM" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sellid, shopid, clientid, quantity, perprice, currency, comment, repsor, create_time, 
    DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxysell
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cxysell
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxysell">
    insert into cxysell (id, sellid, shopid, 
      clientid, quantity, perprice, 
      currency, comment, repsor, 
      create_time, DataChange_LastTime)
    values (#{id,jdbcType=INTEGER}, #{sellid,jdbcType=VARCHAR}, #{shopid,jdbcType=INTEGER}, 
      #{clientid,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{perprice,jdbcType=DOUBLE}, 
      #{currency,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{repsor,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysell">
    insert into cxysell
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sellid != null">
        sellid,
      </if>
      <if test="shopid != null">
        shopid,
      </if>
      <if test="clientid != null">
        clientid,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="perprice != null">
        perprice,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="repsor != null">
        repsor,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sellid != null">
        #{sellid,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null">
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="perprice != null">
        #{perprice,jdbcType=DOUBLE},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="repsor != null">
        #{repsor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysell">
    update cxysell
    <set>
      <if test="sellid != null">
        sellid = #{sellid,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null">
        shopid = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null">
        clientid = #{clientid,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="perprice != null">
        perprice = #{perprice,jdbcType=DOUBLE},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="repsor != null">
        repsor = #{repsor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxysell">
    update cxysell
    set sellid = #{sellid,jdbcType=VARCHAR},
      shopid = #{shopid,jdbcType=INTEGER},
      clientid = #{clientid,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      perprice = #{perprice,jdbcType=DOUBLE},
      currency = #{currency,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      repsor = #{repsor,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteMultiorders" parameterType="java.lang.Integer">

    DELETE FROM cxysell where id in

    <foreach item="idItem" collection="array" open="(" separator="," close=")">
      #{idItem}
    </foreach>


  </delete>
  <select id="queryCxysellByKeys" parameterType="com.cxy.apptools.persistence.storemanager.query.Cxypurchaseorderquery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cxysell
    where 1=1
    <if test="searchCondition !=null and searchFields != null">
      and concat
      <foreach item="item" collection="searchFields" separator="," open="(" close=")" index="index">
        <if test="index == 0">
          ${item}
        </if>
        <if test="index != 0">
          ",",${item}
        </if>
      </foreach>
      LIKE '%${searchCondition}%'
    </if>
    <if test="orderField != null">
      order by ${orderField}
      <if test="ordertype != null">
        ${ordertype}
      </if>
    </if>

    <if test="page != null">
      limit #{page.startItem},#{page.pageSize}
    </if>
  </select>

  <select id="queryCxysellSumByBasequery" parameterType="com.cxy.apptools.persistence.storemanager.query.Cxypurchaseorderquery" resultMap="orderSum">
    select
    count(1) as NUM
    from cxysell
    where 1=1
    <if test="searchCondition !=null and searchFields != null">
      and concat
      <foreach item="item" collection="searchFields" separator="," open="(" close=")" index="index">
        <if test="index == 0">
          ${item}
        </if>
        <if test="index != 0">
          ",",${item}
        </if>
      </foreach>
      LIKE '%${searchCondition}%'
    </if>
    <if test="orderField != null">
      order by ${orderField}
      <if test="ordertype != null">
        ${ordertype}
      </if>
    </if>

    <if test="page != null">
      limit #{page.startItem},#{page.pageSize}
    </if>
  </select>
</mapper>