<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxyspecattrtypeMapper" >
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxyspecattrtype" >
    <id column="speclattrtypeid" property="speclattrtypeid" jdbcType="INTEGER" />
    <result column="speclattrtypename" property="speclattrtypename" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    speclattrtypeid, speclattrtypename, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cxyspecattrtype
    where speclattrtypeid = #{speclattrtypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cxyspecattrtype
    where speclattrtypeid = #{speclattrtypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrtype" >
    insert into cxyspecattrtype (speclattrtypeid, speclattrtypename, 
      deleted)
    values (#{speclattrtypeid,jdbcType=INTEGER}, #{speclattrtypename,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrtype" >
    insert into cxyspecattrtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="speclattrtypeid != null" >
        speclattrtypeid,
      </if>
      <if test="speclattrtypename != null" >
        speclattrtypename,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="speclattrtypeid != null" >
        #{speclattrtypeid,jdbcType=INTEGER},
      </if>
      <if test="speclattrtypename != null" >
        #{speclattrtypename,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrtype" >
    update cxyspecattrtype
    <set >
      <if test="speclattrtypename != null" >
        speclattrtypename = #{speclattrtypename,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where speclattrtypeid = #{speclattrtypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrtype" >
    update cxyspecattrtype
    set speclattrtypename = #{speclattrtypename,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER}
    where speclattrtypeid = #{speclattrtypeid,jdbcType=INTEGER}
  </update>
</mapper>