<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxyspecattrvalueMapper">
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    <id column="specattrvalueid" jdbcType="INTEGER" property="specattrvalueid" />
    <result column="specattrvaluename" jdbcType="VARCHAR" property="specattrvaluename" />
    <result column="specattrvaluetext" jdbcType="VARCHAR" property="specattrvaluetext" />
    <result column="specattrid" jdbcType="INTEGER" property="specattrid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    specattrvalueid, specattrvaluename, specattrvaluetext, specattrid, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxyspecattrvalue
    where specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cxyspecattrvalue
    where specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    insert into cxyspecattrvalue (specattrvalueid, specattrvaluename, 
      specattrvaluetext, specattrid, create_time, 
      DataChange_LastTime)
    values (#{specattrvalueid,jdbcType=INTEGER}, #{specattrvaluename,jdbcType=VARCHAR}, 
      #{specattrvaluetext,jdbcType=VARCHAR}, #{specattrid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    insert into cxyspecattrvalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="specattrvalueid != null">
        specattrvalueid,
      </if>
      <if test="specattrvaluename != null">
        specattrvaluename,
      </if>
      <if test="specattrvaluetext != null">
        specattrvaluetext,
      </if>
      <if test="specattrid != null">
        specattrid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="specattrvalueid != null">
        #{specattrvalueid,jdbcType=INTEGER},
      </if>
      <if test="specattrvaluename != null">
        #{specattrvaluename,jdbcType=VARCHAR},
      </if>
      <if test="specattrvaluetext != null">
        #{specattrvaluetext,jdbcType=VARCHAR},
      </if>
      <if test="specattrid != null">
        #{specattrid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    update cxyspecattrvalue
    <set>
      <if test="specattrvaluename != null">
        specattrvaluename = #{specattrvaluename,jdbcType=VARCHAR},
      </if>
      <if test="specattrvaluetext != null">
        specattrvaluetext = #{specattrvaluetext,jdbcType=VARCHAR},
      </if>
      <if test="specattrid != null">
        specattrid = #{specattrid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    update cxyspecattrvalue
    set specattrvaluename = #{specattrvaluename,jdbcType=VARCHAR},
      specattrvaluetext = #{specattrvaluetext,jdbcType=VARCHAR},
      specattrid = #{specattrid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    <id column="specattrvalueid" jdbcType="INTEGER" property="specattrvalueid" />
    <result column="specattrvaluename" jdbcType="VARCHAR" property="specattrvaluename" />
    <result column="specattrvaluetext" jdbcType="VARCHAR" property="specattrvaluetext" />
    <result column="specattrid" jdbcType="INTEGER" property="specattrid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    specattrvalueid, specattrvaluename, specattrvaluetext, specattrid, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxyspecattrvalue
    where specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cxyspecattrvalue
    where specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    insert into cxyspecattrvalue (specattrvalueid, specattrvaluename, 
      specattrvaluetext, specattrid, create_time, 
      DataChange_LastTime)
    values (#{specattrvalueid,jdbcType=INTEGER}, #{specattrvaluename,jdbcType=VARCHAR}, 
      #{specattrvaluetext,jdbcType=VARCHAR}, #{specattrid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    insert into cxyspecattrvalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="specattrvalueid != null">
        specattrvalueid,
      </if>
      <if test="specattrvaluename != null">
        specattrvaluename,
      </if>
      <if test="specattrvaluetext != null">
        specattrvaluetext,
      </if>
      <if test="specattrid != null">
        specattrid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="specattrvalueid != null">
        #{specattrvalueid,jdbcType=INTEGER},
      </if>
      <if test="specattrvaluename != null">
        #{specattrvaluename,jdbcType=VARCHAR},
      </if>
      <if test="specattrvaluetext != null">
        #{specattrvaluetext,jdbcType=VARCHAR},
      </if>
      <if test="specattrid != null">
        #{specattrid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    update cxyspecattrvalue
    <set>
      <if test="specattrvaluename != null">
        specattrvaluename = #{specattrvaluename,jdbcType=VARCHAR},
      </if>
      <if test="specattrvaluetext != null">
        specattrvaluetext = #{specattrvaluetext,jdbcType=VARCHAR},
      </if>
      <if test="specattrid != null">
        specattrid = #{specattrid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattrvalue">
    update cxyspecattrvalue
    set specattrvaluename = #{specattrvaluename,jdbcType=VARCHAR},
      specattrvaluetext = #{specattrvaluetext,jdbcType=VARCHAR},
      specattrid = #{specattrid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </update>
</mapper>