<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxysupplierMapper">
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxysupplier">
    <id column="supplierid" jdbcType="INTEGER" property="supplierid" />
    <result column="suppliername" jdbcType="VARCHAR" property="suppliername" />
    <result column="contactname" jdbcType="VARCHAR" property="contactname" />
    <result column="contactphone" jdbcType="VARCHAR" property="contactphone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="suppliercategoryid" jdbcType="INTEGER" property="suppliercategoryid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    supplierid, suppliername, contactname, contactphone, fax, qq, address, comment, email, 
    post, status, suppliercategoryid, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxysupplier
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cxysupplier
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    insert into cxysupplier (supplierid, suppliername, contactname, 
      contactphone, fax, qq, 
      address, comment, email, 
      post, status, suppliercategoryid, 
      create_time, DataChange_LastTime)
    values (#{supplierid,jdbcType=INTEGER}, #{suppliername,jdbcType=VARCHAR}, #{contactname,jdbcType=VARCHAR}, 
      #{contactphone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{suppliercategoryid,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    insert into cxysupplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supplierid != null">
        supplierid,
      </if>
      <if test="suppliername != null">
        suppliername,
      </if>
      <if test="contactname != null">
        contactname,
      </if>
      <if test="contactphone != null">
        contactphone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="suppliercategoryid != null">
        suppliercategoryid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supplierid != null">
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="suppliername != null">
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null">
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null">
        #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="suppliercategoryid != null">
        #{suppliercategoryid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    update cxysupplier
    <set>
      <if test="suppliername != null">
        suppliername = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null">
        contactname = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null">
        contactphone = #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="suppliercategoryid != null">
        suppliercategoryid = #{suppliercategoryid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    update cxysupplier
    set suppliername = #{suppliername,jdbcType=VARCHAR},
      contactname = #{contactname,jdbcType=VARCHAR},
      contactphone = #{contactphone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      suppliercategoryid = #{suppliercategoryid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where supplierid = #{supplierid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxysupplier">
    <id column="clientid" jdbcType="INTEGER" property="clientid" />
    <result column="clientname" jdbcType="VARCHAR" property="clientname" />
    <result column="contactname" jdbcType="VARCHAR" property="contactname" />
    <result column="contactphone" jdbcType="VARCHAR" property="contactphone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    clientid, clientname, contactname, contactphone, fax, qq, address, comment, email, 
    post, status, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxysupplier
    where clientid = #{clientid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cxysupplier
    where clientid = #{clientid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    insert into cxysupplier (clientid, clientname, contactname, 
      contactphone, fax, qq, 
      address, comment, email, 
      post, status, create_time, 
      DataChange_LastTime)
    values (#{clientid,jdbcType=INTEGER}, #{clientname,jdbcType=VARCHAR}, #{contactname,jdbcType=VARCHAR}, 
      #{contactphone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    insert into cxysupplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientid != null">
        clientid,
      </if>
      <if test="clientname != null">
        clientname,
      </if>
      <if test="contactname != null">
        contactname,
      </if>
      <if test="contactphone != null">
        contactphone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientid != null">
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="clientname != null">
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null">
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null">
        #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    update cxysupplier
    <set>
      <if test="clientname != null">
        clientname = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null">
        contactname = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null">
        contactphone = #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where clientid = #{clientid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    update cxysupplier
    set clientname = #{clientname,jdbcType=VARCHAR},
      contactname = #{contactname,jdbcType=VARCHAR},
      contactphone = #{contactphone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where clientid = #{clientid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxysupplier">
    <id column="clientid" jdbcType="INTEGER" property="clientid" />
    <result column="clientname" jdbcType="VARCHAR" property="clientname" />
    <result column="contactname" jdbcType="VARCHAR" property="contactname" />
    <result column="contactphone" jdbcType="VARCHAR" property="contactphone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    clientid, clientname, contactname, contactphone, fax, qq, address, comment, email, 
    post, status, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxysupplier
    where clientid = #{clientid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cxysupplier
    where clientid = #{clientid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    insert into cxysupplier (clientid, clientname, contactname, 
      contactphone, fax, qq, 
      address, comment, email, 
      post, status, create_time, 
      DataChange_LastTime)
    values (#{clientid,jdbcType=INTEGER}, #{clientname,jdbcType=VARCHAR}, #{contactname,jdbcType=VARCHAR}, 
      #{contactphone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    insert into cxysupplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientid != null">
        clientid,
      </if>
      <if test="clientname != null">
        clientname,
      </if>
      <if test="contactname != null">
        contactname,
      </if>
      <if test="contactphone != null">
        contactphone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientid != null">
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="clientname != null">
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null">
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null">
        #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    update cxysupplier
    <set>
      <if test="clientname != null">
        clientname = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null">
        contactname = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null">
        contactphone = #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where clientid = #{clientid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxysupplier">
    update cxysupplier
    set clientname = #{clientname,jdbcType=VARCHAR},
      contactname = #{contactname,jdbcType=VARCHAR},
      contactphone = #{contactphone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where clientid = #{clientid,jdbcType=INTEGER}
  </update>
</mapper>