<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxysellproductsizedetailMapper">
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxysellproductsizedetail">
    <id column="selldetailid" jdbcType="INTEGER" property="selldetailid" />
    <id column="specattrvalueid" jdbcType="INTEGER" property="specattrvalueid" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    selldetailid, specattrvalueid, amount, create_time, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxysellproductsizedetail
    where selldetailid = #{selldetailid,jdbcType=INTEGER}
      and specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from cxysellproductsizedetail
    where selldetailid = #{selldetailid,jdbcType=INTEGER}
      and specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxysellproductsizedetail">
    insert into cxysellproductsizedetail (selldetailid, specattrvalueid, amount, 
      create_time, DataChange_LastTime)
    values (#{selldetailid,jdbcType=INTEGER}, #{specattrvalueid,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysellproductsizedetail">
    insert into cxysellproductsizedetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="selldetailid != null">
        selldetailid,
      </if>
      <if test="specattrvalueid != null">
        specattrvalueid,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="selldetailid != null">
        #{selldetailid,jdbcType=INTEGER},
      </if>
      <if test="specattrvalueid != null">
        #{specattrvalueid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxysellproductsizedetail">
    update cxysellproductsizedetail
    <set>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where selldetailid = #{selldetailid,jdbcType=INTEGER}
      and specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxysellproductsizedetail">
    update cxysellproductsizedetail
    set amount = #{amount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where selldetailid = #{selldetailid,jdbcType=INTEGER}
      and specattrvalueid = #{specattrvalueid,jdbcType=INTEGER}
  </update>
</mapper>