<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.apptools.persistence.storemanager.dao.CxyspecattrMapper">
  <resultMap id="BaseResultMap" type="com.cxy.apptools.domain.storemanager.Cxyspecattr">
    <id column="specattrid" jdbcType="INTEGER" property="specattrid" />
    <result column="specattrname" jdbcType="VARCHAR" property="specattrname" />
    <result column="specattrtypeid" jdbcType="INTEGER" property="specattrtypeid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DataChange_Lasttime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    specattrid, specattrname, specattrtypeid, create_time, DataChange_Lasttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cxyspecattr
    where specattrid = #{specattrid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cxyspecattr
    where specattrid = #{specattrid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattr">
    insert into cxyspecattr (specattrid, specattrname, specattrtypeid, 
      create_time, DataChange_Lasttime)
    values (#{specattrid,jdbcType=INTEGER}, #{specattrname,jdbcType=VARCHAR}, #{specattrtypeid,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattr">
    insert into cxyspecattr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="specattrid != null">
        specattrid,
      </if>
      <if test="specattrname != null">
        specattrname,
      </if>
      <if test="specattrtypeid != null">
        specattrtypeid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_Lasttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="specattrid != null">
        #{specattrid,jdbcType=INTEGER},
      </if>
      <if test="specattrname != null">
        #{specattrname,jdbcType=VARCHAR},
      </if>
      <if test="specattrtypeid != null">
        #{specattrtypeid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattr">
    update cxyspecattr
    <set>
      <if test="specattrname != null">
        specattrname = #{specattrname,jdbcType=VARCHAR},
      </if>
      <if test="specattrtypeid != null">
        specattrtypeid = #{specattrtypeid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_Lasttime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where specattrid = #{specattrid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.apptools.domain.storemanager.Cxyspecattr">
    update cxyspecattr
    set specattrname = #{specattrname,jdbcType=VARCHAR},
      specattrtypeid = #{specattrtypeid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      DataChange_Lasttime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where specattrid = #{specattrid,jdbcType=INTEGER}
  </update>
</mapper>